<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>
<body class="main">
<div class="wrapper">
    <header class="header ">
        <div class="header__logo logo"><a class="logo__link"><h1 class="logo__text-heading"><span
                class="logo__text--first-color">JET</span><span class="logo__text--second-color">RO</span></h1></a>
        </div>
        <h2 class="disable">Navigation</h2>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="#">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#">About&nbsp;&nbsp;Us</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Contact&nbsp;&nbsp;us</a></li>
            </ul>
        </nav>
        <div class="burger js-burger header__burger">
            <div class="burger__line burger__line--top"></div>
            <div class="burger__line burger__line--middle"></div>
            <div class="burger__line burger__line--bottom"></div>
        </div>
    </header>
    <h2 class="disable">Gallery</h2>
    <figure class="gallery js-gallery main__slider">
        <div class="gallery__preview"><img class="gallery__main-img js-main-gallery-img"
                                           src="images/136e6eff8a755734d06ea8e1a507aab4.png">
            <figcaption class="gallery__text-wrapper"><a class="gallery__link-wrapper" href="#"><h3
                    class="gallery__gallery-head">Slide One</h3>
                <p class="gallery__text">Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.Urbanitas
                    adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.</p></a>
                <div class="gallery__decor"></div>
            </figcaption>
        </div>
        <ul class="gallery__list js-gallery-list">
            {{#each present}}
                <li class="gallery__item"><img class="gallery__item-img" witdh="140px" height="120px"
                                               src="images/{{srcImage}}">
                    <div class="gallery__item-decription"><h3 class="gallery__item-head">{{heading}}</h3>
                        <p class="gallery__item-text">{{text}}</p>
                    </div>
                </li>
                <hr class="disable">

            {{/each}}

        </ul>
    </figure>
    <h2 class="disable">Portfolio</h2>
    <section class="portf-section main__portf-section">
        <div class="portfolio-item portf-section__portfolio-item">
            <div class="portfolio-item__head portfolio-item__head--setting"><h3 class="portfolio-item__head-text">Check
                out my latest portfolio items Check out my latest portfolio items</h3></div>
            <div class="portfolio-item__text-box"><p class="portfolio-item__text">Maecenas ipsum metus, semper hendrerit
                varius mattis,congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.</p>
            </div>
            <div class="portfolio-item__button"><a class="portfolio-item__link" href="#"><span
                    class="portfolio-item__link-text">more</span></a></div>
        </div>
        <div class="portfolio-item portf-section__portfolio-item">
            <div class="portfolio-item__head portfolio-item__head--tick"><h3 class="portfolio-item__head-text">Check out
                my latest portfolio items Check out my latest portfolio items</h3></div>
            <div class="portfolio-item__text-box"><p class="portfolio-item__text">Maecenas ipsum metus, semper hendrerit
                varius mattis,congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.</p>
            </div>
            <div class="portfolio-item__button"><a class="portfolio-item__link" href="#"><span
                    class="portfolio-item__link-text">more</span></a></div>
        </div>
        <div class="portfolio-item portf-section__portfolio-item">
            <div class="portfolio-item__head portfolio-item__head--contr"><h3 class="portfolio-item__head-text">Check
                out my latest portfolio items Check out my latest portfolio items</h3></div>
            <div class="portfolio-item__text-box"><p class="portfolio-item__text">Maecenas ipsum metus, semper hendrerit
                varius mattis,congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.</p>
            </div>
            <div class="portfolio-item__button"><a class="portfolio-item__link" href="#"><span
                    class="portfolio-item__link-text">more</span></a></div>
        </div>
    </section>
    <section class="works main__works">
        <div class="works__head"><h2 class="works__head-text">Recent Works</h2></div>
        <ul class="works__list">
            {{#each portfolio}}
                <li class="works__item">
                    <figure class="works__item-wrapper"><img class="works__img"
                                                             src="images/{{srcImage}}">
                        <fogcaption class="works__text-box"><h4 class="works__item-head"><a class="works__item-link"
                                                                                            href="#">{{heading}}</a>
                        </h4><span class="works__date">{{date}}</span></fogcaption>
                    </figure>
                </li>

                {{/each}}
        </ul>
    </section>
    <footer class="footer main__footer">
        <div class="footer__about footer__item"><h2 class="footer__head">About Jetro</h2>
            <div class="footer__text-box"><p class="footer__text"> Lorem ipsum dolor sit amet, malorum recteque
                reprehendunt ea vel.Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire
                convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.<br><br>Pro et erant delicata,
                eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet
                oporteat cu vim.</p></div>
        </div>
        <div class="footer__about footer__item footer__item--widget"><h2 class="footer__head">Twitter Widget</h2>
            <div class="footer__text-box"><p class="footer__text"><span>@pixelmater</span>&nbsp;What an awesome design
                with great functionality :)<br><br><span>about 1 hour ago</span><br><br><span>@designdude</span>&nbsp;What
                an awesome design with great functionality :)<br><br>Follow<span>&nbsp;@bestpsdfreebies</span></p></div>
        </div>
        <div class="footer__about footer__item footer__item--contact"><h2 class="footer__head">Contact Us</h2>
            <div class="footer__text-box"><p class="footer__text">Lorem ipsum dolor sit amet, malorum recteque
                reprehendunt ea vel.
                Urbanitas adolescens vim te, per at tritani aperiri.<br><br>information@jetro.com<br>1.222.333.4444</p>
            </div>
        </div>
    </footer>
</div>
<div class="decor page__decor page__decor--top decor--small"></div>
<div class="decor page__decor page__decor--bottom decor--big"></div>
<script type="text/javascript" src="main.js"></script>
</body>