mixin gallery(mixClass)
    figure(class="gallery "+(mixClass||""))
        div.gallery__preview
            img.gallery__main-img.js-main-gallery-img(src=require('./../../shared/images/slide-1.png'))
            figcaption.gallery__text-wrapper
                a.gallery__link-wrapper(href="#")
                    h3.gallery__gallery-head Slide  One
                    p.gallery__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        |Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
                div.gallery__decor
        ul.gallery__list.js-gallery-list
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-1.png'))
                div.gallery__item-decription
                    p.gallery__item-head Slide  One
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-2.jpg'))
                div.gallery__item-decription
                    p.gallery__item-head Presentation new image, this is greate author
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-3.jpg'))
                div.gallery__item-decription
                    p.gallery__item-head Slide  One
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-5.png'))
                div.gallery__item-decription
                    p.gallery__item-head Slide  One
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-7.jpg'))
                div.gallery__item-decription
                    p.gallery__item-head Slide  One
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
            li.gallery__item
                img.gallery__item-img(witdh='140px' height='120px' src=require('./../../shared/images/slide-8.jpg'))
                div.gallery__item-decription
                    p.gallery__item-head Slide  One
                    p.gallery__item-text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                        | Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
