mixin portfolio-works(mixClass)
    section(class="portfolio-works works "+(mixClass||''))
    ul.works__list.works__list--portfolio
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work1.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work2.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work3.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work4.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
    ul.works__list.works__list--portfolio
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work1.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work2.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work3.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work4.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
    ul.works__list.works__list--portfolio
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work1.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work2.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work3.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012
        li.works__item
            figure.works__item-wrapper
                img.works__img(src=require('../../shared/images/work4.jpg'))
                fogcaption.works__text-box
                    h4.works__item-head
                        a(href="#").works__item-link Character  Design
                    span.works__date June 15, 2012